Source: libtaskomat-0-0-1
Section: devel
Priority: optional
Maintainer: Lars Froehlich <Lars.Froehlich@desy.de>
Standards-Version: 4.6.0
Build-Depends: dev-doocs-libgul14 | libgul14-dev, meson (>=0.49.0), pkg-config, debhelper-compat (=12)

Package: libtaskomat-0-0-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Taskomat automatization library (libtaskomat)
 Binary files for the Taskomat automatization library.

Package: libtaskomat-dev
Section: libdevel
Architecture: any
Depends: libtaskomat-0-0-1
Description: Development files for the Taskomat automatization library
 Development files for the Taskomat automatization library.
