#!/usr/bin/make -f
#
# File:   debian/rules
#

LIBNO=$(shell grep LIBNO LIBNO | sed -e 's/LIBNO.*=//' -e 's/[[:space:]]//g')

%:
	dh $@

override_dh_auto_configure:
	debian/check_control
	debian/check_changelog
	CC=/usr/bin/gcc CXX=/usr/bin/c++ dh_auto_configure -- \
		--buildtype=debugoptimized \
		--libdir=lib \
		--wrap-mode=nofallback \
		--pkg-config-path=/export/doocs/lib/pkgconfig \
		-Dversion=${LIBNO}

override_dh_strip:
# Do not strip library symbols
