#!/usr/bin/make -f
#
# File:   debian/rules
#

VERSION=$(shell cat version.txt)

%:
	dh $@

override_dh_auto_configure:
	debian/check_control
	debian/check_changelog
	CC=/usr/bin/gcc CXX=/usr/bin/c++ dh_auto_configure -- \
		--libdir=lib \
		--wrap-mode=nofallback \
		--pkg-config-path=/export/doocs/lib/pkgconfig \
		-Dversion=${VERSION}

override_dh_strip:
# Do not strip library symbols
