# build_and_run_tests.yml

name: Build and test run

# Controls when the action will run. Here when we enter 'git push'
on:
  push:
    branches: main
    path-ignore:
      - README.md
      - .vscode
      - data
      - debian
      # TODO path to be ignored in future release: - @anchor_playground playground  pull_request:
  pull_request:
    branches: main
    path-ignore:
      - README.md
      - .vscode
      - data
      - debian
      # TODO path to be ignored in future release: - @anchor_playground playground
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildntest:
    name: Build and Tests
    strategy:
      matrix:
        os: [ ubuntu-20.04, ubuntu-22.04 ]
    runs-on: ${{ matrix.os }}
    steps:
    - run: |
        echo "Job triggered by ${{ github.event_name }} event, running on ${{ runner.os }}."
        echo "Branch ${{ github.ref }} on repository ${{ github.repository }}"
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install Ninja
      run: |
        sudo apt install ninja-build

    - name: Fetch meson version for building
      uses: robinraju/release-downloader@v1.8
      with:
        repository: "mesonbuild/meson"
        tag: "0.53.2"
        fileName: "*.tar.gz"
    - name: Unpack meson tar ball and remove downloaded file
      run: |
        tar -xzf meson-*.tar.gz
        rm meson-*.tar.gz
    - name: Create symbolic link for Meson
      run: |
        ln -s meson-*/meson.py .

    - name: Setup dependencies
      run: |
        sudo apt update -y -q
        sudo apt install libgit2-dev -y -q

    - name: Configure build directories
      run: |
        ./meson.py --wrap-mode forcefallback --buildtype=release build.release
        ./meson.py --wrap-mode forcefallback --buildtype=debug build.asan -Db_sanitize=address
    - name: Build and run release tests
      id: buildnormal
      run: |
        git config --global user.name "Github CI"
        git config --global user.email "GithubCI@yourdomain.com"
        ./meson.py test -C build.release

    - name: Save error logs
      uses: actions/upload-artifact@v4
      if: ${{ always() && steps.buildnormal.outcome == 'failure' }}
      with:
        name: Meson-logs-${{ matrix.os }}
        path: build.release/meson-logs/

    - name: Build and run ASAN tests
      id: buildasan
      run: ./meson.py test -C build.asan

    - name: Save error logs
      uses: actions/upload-artifact@v4
      if: ${{ always() && steps.buildasan.outcome == 'failure' }}
      with:
        name: Meson-logs-${{ matrix.os }}
        path: build.asan/meson-logs/
